{% extends 'layout.html.twig' %}

{% block title %}
{{ 'menu.profile'|trans }}
{% endblock %}

{% block body %}
<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="flex flex-col mb-32 text-center justify-center lg:text-left">
    <div class="mx-auto justify-left w-full max-w-lg">
      <p class="mb-3 text-sm leading-6 text-gray-400">
        7/7 Create your profile 
        <svg class="inline-block ml-4 w-4 h-4 text-gray-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 6v4l3.276 3.276M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
        </svg> 
        5 - 10 min 
      <p>
    </div>
    <div class="w-full">
      <h2 class="mb-12 text-center text-3xl font-bold">
      {{ 'photo.intro'|trans }}  
      </h2>
      <div class="mx-auto justify-center w-full max-w-lg">
      <p class="mt-1 text-sm leading-6 text-gray-600">
        {{ 'photo.label'|trans }}
      </p>
      {{ form_start(form)}} 
      <div class="mt-4">
        {{ form_widget(form) }}
      </div>
      <div
        class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
        <button
          type="submit"
          class="ml-1 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
          data-te-ripple-init
          data-te-ripple-color="light">
          {{ 'profile.next.profile'|trans }} 
        </button>
      </div>
      {{ form_end(form) }}
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->

{% endblock %}
