{% extends 'layout.html.twig' %}

{% block title %}
{{ 'menu.profile'|trans }}
{% endblock %}

{% block body %}

  <div class="flex justify-center ">
    <div class="w-full max-w-lg">
      {{ form_start(form,  {'attr': {'class': 'bg-white shadow-lg rounded p-8' }}
      ) }} 
          
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">
        {{ 'overview.label'|trans }} 
        </h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">
        {{ 'overview.intro'|trans }} 
        </p>
        <div class="mt-10 space-y-10">
          <div class="mt-4">
              {{ form_widget(form) }}
        </div>
      </div>
      <div
        class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
        <button
          type="button"
          id="next_photo"
          class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
          data-te-modal-dismiss
          data-te-ripple-init
          data-te-ripple-color="light">
          {{ 'profile.skip'|trans }}
        </button>
        <button
          type="submit"
          class="ml-1 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
          data-te-ripple-init
          data-te-ripple-color="light">
          {{ 'profile.next.photo'|trans }} 
        </button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>

<script type="text/javascript">
  
document.getElementById('next_photo').addEventListener('click', function(e){
    e.preventDefault();
    const url = "{{ path('app_profile_avatar') }}";
    const urlActuelle = window.location.origin;
    const urlComplete = urlActuelle + url;
    window.location.href = urlComplete;
})

</script>

{% endblock %}
