{% extends 'layout.html.twig' %}

{% block title %}
    Experts    
{% endblock %}

{% block body %}

<div class="min-h-screen">
    <div class="container mx-auto p-4">

        <div class="flex">
            <div class="w-3/5 lg:w-2/3 bg-white rounded-lg p-4 shadow-md mr-2">

                        <h1 class="text-2xl font-bold mb-4">
                            Experts
                        </h1>   

                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
                        {% for identity in identities %}
                            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                                <a href="{{path('app_profile_expert', {'username' : identity.username} )}}">
                                    <img class="w-full" src="{{vich_uploader_asset(identity, 'file')}}" alt="Image de la card">
                                </a>
                                <div class="px-6 py-4">
                                    <a href="{{path('app_profile_expert', {'username' : identity.username} )}}">
                                        <div class="font-bold text-xl mb-2">
                                            Expert N° {{ identity.id }}
                                        </div>
                                    </a>
                                    <p class="text-gray-700 text-xs">
                                        Tarif moyenne journalier: <br> <span class="font-bold">€ {{ identity.tarif }}</span>
                                    </p>
                                    {% for lang in identity.languages %}
                                    {{ isoToEmoji(lang.code) }}
                                    {% endfor %}
                                </div>
                                <div class="px-6 py-4">
                                    {% for aicore in identity.aicores %}
                                        <p class="bg-gray-200 rounded-full px-3 my-2 text-xs font-base text-gray-700 mr-2">{{ aicore.name }}</p>
                                        <div class="flex items-center">
                                            {% for i in 1..5 %}
                                                {% if i <= getIdentityAiNote(aicore, identity) %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
                                                        <path d="M10 1L12.39 6.75H19.78L14.76 10.25L17.17 16L10 12.75L2.83 16L5.24 10.25L0.22 6.75H7.61L10 1Z" />
                                                    </svg>
                                                {% else %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
                                                        <path d="M10 1L12.39 6.75H19.78L14.76 10.25L17.17 16L10 12.75L2.83 16L5.24 10.25L0.22 6.75H7.61L10 1Z" />
                                                    </svg>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                        <nav class="flex items-center justify-center mt-4">
                        {% do identities.setPageRange(2) %}
                        {{ knp_pagination_render(identities, 'base/pagination.html.twig')}}
                        </nav>
            </div>

            <div class="w-2/5 lg:w-1/3 bg-white rounded-lg p-4 shadow-md">
            {% include "base/_filter.html.twig" with {form : form} %}

            </div>
        </div>
    </div>
</div>



{% endblock %}
    