{% extends 'base.html.twig' %}

{% block title %}
    Experts    
{% endblock %}

{% block body %}
<div class="bg-gray-100 min-h-screen">
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">
            Experts
        </h1>

        <div class="flex">
            <div class="w-3/5 lg:w-2/3 bg-white rounded-lg p-4 shadow-md mr-2">
                <div class="flex flex-wrap">
                {% for identity in identities %}
                    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3">
                        <div class="bg-white p-4 shadow rounded-lg">
                            <img src="https://www.jea.com/cdn/images/avatar-gray.png" alt="{{ identity.firstName }} {{ identity.lastName }}" class="h-32 mb-4">
                            <h2 class="text-lg font-semibold">
                                {{ identity.firstName }}
                                {{ identity.lastName }}
                            </h2>
                            <p class="text-gray-600 mb-2 text-sm">
                                {{ identity.bio | slice(0, 90) | raw  }} ...
                            </p>
                            <p class="text-gray-900">
                                TMJ <span class="font-bold">$19.99</span>
                            </p>
                            <a href="{{ path('app_profile_expert', { 'username' : identity.username })}}" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded mt-4">
                                Voir le profil                                           
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="w-2/5 lg:w-1/3 bg-white rounded-lg p-4 shadow-md">

            </div>
        </div>
    </div>
</div>

{% endblock %}
    