{% extends 'base.html.twig' %}

{% block title %}Experts{% endblock %}

{% block body %}
<div class="bg-gray-100 min-h-screen">
    <div class="container mx-auto p-4">

        <div class="flex">
            <div class="w-3/5 lg:w-2/3 bg-white rounded-lg p-4 shadow-md mr-2">
                <div class="flex flex-col items-center mt-8">
                    <div class="container mx-auto">
                        <div class="grid grid-cols-12 gap-4">
                            <div class="col-span-4 flex flex-col items-center justify-center">
                                <img src="{{vich_uploader_asset(identity, 'file')}}" alt="Avatar" class="w-40 h-40 rounded-full">
                                <p class="text-base mt-2 text-md text-gray-400 font-bold mt-2">Tarif moyenne journalier</p>
                                <p class="text-base mt-2">{{ identity.tarif }} €</p>
                                <div class="col-span-2 flex flex-col items-center justify-center mt-8">
                                {% if app.user and app.user.identity.packs is defined and app.user.identity.packs is not empty %}
                                    <a href="{{ path('app_profile_pdf', {'username': identity.username} ) }}" target="blank" class="bg-white hover:bg-gray-100 text-green-500 font-semibold py-2 px-4 rounded-full border border-green-500">Télécharger en PDF</a>
                                {% else %}
                                    <a href="{{ path('app_stripe_create_session') }}" class="bg-white hover:bg-gray-100 text-blue-500 font-semibold py-2 px-4 rounded-full border border-blue-500 mb-2">Me contacter</a>
                                    <a href="{{ path('app_stripe_create_session') }}" class="bg-white hover:bg-gray-100 text-green-500 font-semibold py-2 px-4 rounded-full border border-green-500">Télécharger en PDF</a>
                                {% endif %}
                                </div>
                            </div>
                            <div class="col-span-8 flex flex-col items-start mt-4 mb-8">
                                <h2 class="text-xl font-semibold">{{ identity.firstName }} {{ identity.lastName }}</h2>
                                    <p class="text-xs mt-2">{{ identity.bio | raw }}</p>
                                <h3 class="text-lg text-gray-400 font-bold mt-2">Secteurs</h3>
                                {% for sector in identity.sectors %}
                                    <p class="text-base mt-2">{{ sector.name }}</p>
                                {% endfor %}
                                <h3 class="text-lg text-gray-400 font-bold mt-2">Expert sur</h3>
                                {% for aicore in identity.aicores %}
                                    <a href="{{ aicore.url }}" target=_blank>
                                        <p class="text-base mt-2">{{ aicore.name }}</p>
                                    </a>
                                    <div class="flex items-center">
                                        {% for i in 1..5 %}
                                            {% if i <= getIdentityAiNote(aicore, identity) %}
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
                                                    <path d="M10 1L12.39 6.75H19.78L14.76 10.25L17.17 16L10 12.75L2.83 16L5.24 10.25L0.22 6.75H7.61L10 1Z" />
                                                </svg>
                                            {% else %}
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
                                                    <path d="M10 1L12.39 6.75H19.78L14.76 10.25L17.17 16L10 12.75L2.83 16L5.24 10.25L0.22 6.75H7.61L10 1Z" />
                                                </svg>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                {% if app.user and app.user.identity.packs is defined and app.user.identity.packs is not empty  %}
                                    {% include "pack/_locked.html.twig" with {identity: identity} %}
                                {% endif %}
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-2/5 lg:w-1/3 bg-white rounded-lg p-4 shadow-md">
            {% if app.user and app.user.identity.packs is defined and app.user.identity.packs is not empty %}
                {% include "pack/_pro.html.twig" %}
            {% else %}
                {% include "base/_sidebar.html.twig" %}
            {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
