{% extends 'bootstrap.html.twig' %}
{% block title %}
  {{ 'security.title'|trans }}
{% endblock %}

{% block header %}
  {% include "bootstrap/layout/nav.html.twig" with {} %}
{% endblock %}

{% block body %}
  <section id="hero" class="vh-100" style="background-color: black;">
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="row w-100">
        <div class="col-md-6 text-center mx-auto">
          <img src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="login olona talents" />
        </div>
        <div class="col-md-6 text-white">
          <h1 class="h4 my-6 text-center text-white" >{{ meta_title() }}</h1>
          <p class="text-light text-center fs-6" ><small>{{ meta_description() }}</small></p>
          <hr>
          <form method="POST" class="text-white">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">
              </label>
              <input type="email" class="form-control" name="email" placeholder="{{ 'security.email'|trans }}" value="{{ last_username }}" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">
                </label>
                <input type="password" class="form-control" name="password" placeholder="{{ 'security.password'|trans }}" id="exampleInputPassword1"></div>
                <div class="mb-3 form-check">
                  <div class="row">
                    <div class="col-6">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">
                        {{ 'security.remember'|trans }}           
                        </label>
                      </div>
                      <div class="col-6">
                        <!--Forgot password link-->
                        <a href="{{ path('app_forgot_password_request') }}" class="">
                          {{ 'security.forgotten'|trans }}
                        </a>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-primary">
                      {{ 'security.signin'|trans }}
                    </button>
                  </form>
                  <p class="my-4 text-center text-white">
                    {{ 'security.not_member'|trans }}
                    <a href="{{ path('app_register') }}" class="text-primary transition ">
                    {{ 'security.register'|trans }}
                    </a>
                    {{ 'security.join'|trans }}
                  </p>
                </div>
              </div>
            </div>
          </section>

          <script type="text/javascript">
    
    document.getElementById('google_button').addEventListener('click', function(e){
        e.preventDefault();
        const url = "{{ path('connect_google_start') }}";
        const urlActuelle = window.location.origin;
        const urlComplete = urlActuelle + url;
        window.location.href = urlComplete;
    })

</script>

        {% endblock %}
        