{% extends 'bootstrap.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
{% block title %}
  {{ 'registration.title'|trans }}
{% endblock %}

{% block header %}
  {% include "bootstrap/layout/nav.html.twig" with {} %}
{% endblock %}

{% block body %}

<section id="register" class="vh-100" style="background-color: black;">
    <div class="container h-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-md-6 text-center mx-auto">
              <img src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="login olona talents" />
            </div>
            <div class="col-md-6 text-white">
              <h1 class="h4 my-6 text-center text-white" >{{ meta_title() }}</h1>
              <p class="text-light text-center fs-6" ><small>{{ meta_description() }}</small></p>
              <hr>
              {{ form_start(registrationForm, {'attr': {'class': 'row g-3'}}) }}
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                  {{ form_widget(registrationForm.agreeTerms) }}
                  <label class="form-check-label">
                    {{ attribute(registrationForm.agreeTerms.vars.attr, 'label')|trans({
                        '%terms_url%': path('app_login'),
                        '%privacy_url%': path('app_login')
                    })|raw }}
                  </label>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">{{ 'registration.button'|trans }}</button>
                </div>
              {{ form_end(registrationForm) }}
              <p class="text-light text-center fs-6" ><small>{{ 'app_register.already_member'|trans({
                '%terms_url%': path('app_login'),
            })|raw }}</small></p>
        

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    
    document.getElementById('google_button').addEventListener('click', function(e){
        e.preventDefault();
        const url = "{{ path('connect_google_start') }}";
        const urlActuelle = window.location.origin;
        const urlComplete = urlActuelle + url;
        window.location.href = urlComplete;
    })

</script>

{% endblock %}
