<nav class="bg-gray-100">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <a href="{{ path('app_home') }}" class="text-gray-800 font-bold text-xl" style="font-family:Belanosima;">
                        PostIn Experts IA
                    </a>
                </div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="{{ path('app_home') }}" class="text-gray-600 hover:text-gray-800 px-3 py-2 rounded-md text-sm font-medium" style="font-family: 'Poppins', sans-serif;">
                            {{'menu.home'|trans }}
                        </a>
                        <a href="{{ path('app_profile_catalog') }}" class="text-gray-600 hover:text-gray-800 px-3 py-2 rounded-md text-sm font-medium" style="font-family: 'Poppins', sans-serif;">
                            {{'menu.profiles'|trans }}
                        </a>
                        <a href="{{ path('app_profile_catalog') }}" class="text-gray-600 hover:text-gray-800 px-3 py-2 rounded-md text-sm font-medium" style="font-family: 'Poppins', sans-serif;">
                            {{'menu.about'|trans }}
                        </a>
                        <a href="{{ path('app_profile_catalog') }}" class="text-gray-600 hover:text-gray-800 px-3 py-2 rounded-md text-sm font-medium" style="font-family: 'Poppins', sans-serif;">
                            {{'menu.contact'|trans }}  
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden md:block">
                <div class="hidden md:block">
                    <div class="ml-4 flex items-center md:ml-6">
                        {% if app.user %}
                            <div class="flex items-center">
                                {% if app.user.identity.fileName is defined and app.user.identity.fileName is not null %}
                                    <img
                                    src="{{ vich_uploader_asset(app.user.identity, 'file') }}" alt="Avatar" class="w-8 h-8 rounded-full">
                                        {% else %}
                                        <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 11 14H9a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 10 19Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                        </svg>
                                    {% endif %}
                                    <div class="ml-4">
                                        <p class="text-xs text-gray-500">
                                            {{ app.user.email }}
                                        </p>
                                        <p class="text-xs text-gray-500">
                                            <a href="{{ path('app_logout') }}" class="text-gray-600">
                                                {{ 'menu.logout'|trans }}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="relative inline-block text-left">
                                    <div>
                                        <button type="button" class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-600 rounded-md focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75" id="dropdown-menu-button" aria-expanded="false" aria-haspopup="true">
                                            <svg class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd" d="M10 15l5-5H5z" />
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-menu-button" tabindex="-1" id="dropdown-menu">
                                        <div class="py-1" role="none">
                                            <a href="{{ path('app_dashboard') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem" tabindex="-1" id="dropdown-menu-item-0">
                                                {{ 'menu.dashboard'|trans }}
                                            </a>
                                            <a href="{{ path('app_account') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem" tabindex="-1" id="dropdown-menu-item-1">
                                                {{ 'menu.profile'|trans }}
                                            </a>
                                            <a href="{{ path('app_account') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem" tabindex="-1" id="dropdown-menu-item-2">
                                                {{ 'menu.settings'|trans }}
                                            </a>
                                            <a href="{{ path('app_account') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem" tabindex="-1" id="dropdown-menu-item-3">
                                                {{ 'menu.messages'|trans }}
                                            </a>
                                            <a href="{{ path('app_account') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem" tabindex="-1" id="dropdown-menu-item-4">
                                                {{ 'menu.notifications'|trans }}
                                            </a>
                                            {% if not is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('admin') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem" tabindex="-1" id="dropdown-menu-item-5">
                                                {{ 'menu.admin'|trans }}
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <button class="bg-gray-300 p-1 rounded-full text-gray-600 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" style="font-family: 'Poppins', sans-serif;">
                                    <span class="sr-only">
                                        View notifications
                                    </span>
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 21">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 3.464V1.1m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175C15 15.4 15 16 14.462 16H1.538C1 16 1 15.4 1 14.807c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 8 3.464ZM4.54 16a3.48 3.48 0 0 0 6.92 0H4.54Z" />
                                    </svg>
                                </button>
                            </div>
                        {% else %}
                            <div class="bg-blue-500 text-white font-bold px-4 py-2 rounded-md">
                                <a href="{{ path('app_login') }}" class="text-white">
                                    {{ 'menu.login'|trans }}
                                </a>
                            </div>

                            <div class="bg-green-500 text-white font-bold px-4 py-2 rounded-md">
                                <a href="{{ path('app_register') }}" class="text-white">
                                    {{ 'menu.register'|trans }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    