<div class="max-w-md mx-auto bg-white m-4 p-4 rounded-xl shadow-md overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="md:shrink-0 p-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
        </svg>
  
    </div>
    <div class="p-4">
      <div class="uppercase tracking-wide text-sm text-inddivigo-500 font-semibold">
        <a href="{{ path('app_posting_view', {'jobId': posting.jobId }) }}">
          {{ posting.title }}</div>
        </a>
        <div class="flex items-center">
          <div class="bg-green-500 w-4 h-4 rounded-full"></div>
            <span class="ml-2 text-slate-500">Ouvert | {{ posting.views|length }} vues | {{ posting.applications|length }} offres</span>
          </div>

      
      Outils IA : 
      {% for skill in posting.skills %}

        <span class="inline-block whitespace-nowrap rounded-full bg-warning-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-warning-700">
          {{ skill.name }}
        </span> -

      {% endfor %}
        <span class="inline-block whitespace-nowrap rounded-full bg-dark-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-dark-700">
          {{ posting.views|length }} Vues
        </span>

      <div class="mt-2 text-slate-500 text-xs">{{ posting.desctiption|slice(0, 400)|raw }} ...</div>
      <p class="my-2 text-slate-500 text-xs">
        {% for horaire in posting.schedulePostings %}

            <span class="inline-block whitespace-nowrap rounded-full bg-info-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-info-700">
            {{ horaire.name }}
            </span>

        {% endfor %}
      </p>
      <a
        href="{{ path('app_posting_view', {'jobId': posting.jobId }) }}"
        data-te-ripple-init
        data-te-ripple-color="light"
        class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
        Détails
      </a>
    </div>
  </div>
</div>