    <div class="max-w-sm mx-auto bg-gray-100 rounded-lg">
      <div class="flex flex-wrap">
        <div class="mb-0 shrink-0 grow-0 basis-auto w-4/12">
          <div class="flex py-12">
            <img src="{{ imgUrl }}"
              class="z-[10] w-full rounded-lg shadow-lg lg:ml-[50px]" alt="image" />
          </div>
        </div>

        <div class="shrink-0 grow-0 basis-auto w-8/12">
          <div class="flex h-full items-center rounded-lg bg-yellow-600 p-6 text-white pl-12 text-left">
            <div class="pl-6">
                <h2 class="mb-8 text-lg font-bold">{{ identity.firstName }} {{ identity.lastName|slice(0, 1)|upper }}.</h2>
                <p class="mb-8 pb-2 lg:pb-0">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
            </div>
          </div>
        </div>
      </div>
      <div class="p-8">
      {% for star in stars %}
          <p class="bg-gray-200 rounded-full px-3 my-2 text-xs font-base text-gray-700 mr-2">{{ star.name }}</p>
          <div class="flex items-center">
              {% for i in 1..5 %}
                  {% if i <= star.note %}
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M10 1L12.39 6.75H19.78L14.76 10.25L17.17 16L10 12.75L2.83 16L5.24 10.25L0.22 6.75H7.61L10 1Z" />
                      </svg>
                  {% else %}
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M10 1L12.39 6.75H19.78L14.76 10.25L17.17 16L10 12.75L2.83 16L5.24 10.25L0.22 6.75H7.61L10 1Z" />
                      </svg>
                  {% endif %}
              {% endfor %}
          </div>
      {% endfor %}
      
        <a
        href="{{ url }}"
        class="inline-block rounded bg-warning m-2 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#e4a11b] transition duration-150 ease-in-out hover:bg-warning-600 hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:bg-warning-600 focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:outline-none focus:ring-0 active:bg-warning-700 active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(228,161,27,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)]">
        View profile
        </a>
        <button
        type="button"
        class="inline-block rounded border-2 border-primary-100 m-2 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-yellow-600 transition duration-150 ease-in-out hover:border-primary-accent-100 hover:bg-neutral-500 hover:bg-opacity-10 focus:border-primary-accent-100 focus:outline-none focus:ring-0 active:border-primary-accent-200 dark:text-primary-100 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
        data-te-ripple-init>
        Add to favorite
        </button>
      </div>
    </div>
