
<div class="flex flex-col">
<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
    <div class="overflow-hidden">
        <table class="min-w-full text-left text-sm font-light">
        <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
            <th scope="col" class="px-6 py-4">Profil</th>
            <th scope="col" class="px-6 py-4">AI maîtrisés</th>
            <th scope="col" class="px-6 py-4">Prix</th>
            <th scope="col" class="px-6 py-4">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4">{{ item.identity.firstName }} {{ item.identity.lastName }}</td>
                <td class="whitespace-nowrap px-6 py-4">
                    {% for skill in item.identity.aiCores %}
                    <span
                        class="inline-block whitespace-nowrap rounded-full bg-neutral-800 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-neutral-50 dark:bg-neutral-900">
                        {{skill.name}}
                    </span>
                    {% endfor %}
                </td>
                <td class="whitespace-nowrap px-6 py-4">0.99 €</td>
                <td class="whitespace-nowrap px-6 py-4">
                    <a
                    href="{{ path('app_cart_remove', {'id': item.identity.id}) }}"
                    class="js-remove inline-block rounded-full bg-danger px-2 pb-2 pt-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#dc4c64] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(220,76,100,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                    </a>
                </td>
            </tr>                        
            {% endfor %}
            <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4"></td>
                <td class="whitespace-nowrap px-6 py-4 ml-auto text-lg font-semibold">Total</td>
                <td class="whitespace-nowrap px-6 py-4 text-lg font-semibold">{{ total }} €</td>
                <td class="whitespace-nowrap px-6 py-4">
                <form action="{{ path('app_stripe_payment') }}" method="post">
                    <input type="hidden" name="product" value="Postin Expert Profile">
                    <input type="hidden" name="quantity" value="{{ items | length}}">
                    <input type="hidden" name="price" value="99">
                    <input type="hidden" name="json" value="{{ json }}">
                    <input type="hidden" name="email" value="{{ app.user.email }}">
                    <input type="hidden" name="orderid" value="test">
                    <input type="hidden" name="total" value="{{ total }}">
                    <input type="hidden" name="success" value="/dashboard/company/canditates?success=true">
                    <input type="hidden" name="cancel" value="/dashboard/company/cart/?failed=true">
                    <button
                    type="submit"
                    class="inline-block rounded-full border-2 border-info px-6 pb-[6px] pt-2 text-xs font-medium leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 focus:border-info-600 focus:text-info-600 focus:outline-none focus:ring-0 active:border-info-700 active:text-info-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
                    data-te-ripple-init>
                    Paiement securisé
                    </button> 
                </form>                      
                </td>
            </tr> 
        </tbody>
        </table>
    </div>
    </div>
</div>
</div>